<div class="widget1">
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
    <% if current_user %> 
      <p class="text-muted"> Welcome, <%= current_user.name %></p>
      <img id="usr-profile-picture" src=<%= current_user.info.image %> />
      <h1> this is a test </h1>
      <%=  @test %>
    <% end %>
</div>

