/*
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


/* 
  responsive design for navbar 
    -top paddding for the nav elements increased 300 px
    -text alignment to center 
    -making logo name centered 
 */

 html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#555555;
}

/*adding so there is no overlap with header banner */

.full {
  padding-top:100px;
}

#main-nav {
  padding:15px;
}

#music-list-minus {
  float:right;
}

/*gets rid of the blue outline on form focus */
.form-control:focus {
  border-color: #CCCCCC;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/*song-searcharea width adjustment */

#song-seachbar{
  width: 45% !important; 
    & .input-group {
     width: 110% !important;
    }
}

#searchbar-submit {
  text-align: center;
  width: 6%;
}



/******************************************************************
Media query for small screen (mobile and pads)

Adjustments summary: 
 1. 
 2. navbar-header  - fix padding and cleared space after nav 
 3. main-nav       - added padding, float left, 100% width and 
 4. .full          - added padding and width 
 5. song-searchbar - Making search input form full width (mobile) 
 
*******************************************************************/

@media  (min-width: 100px) and (max-width: 800px) {
  /* number 1 */
  nav {
    padding-top:0;
    text-align:center;
    clear:both;
  }
  /* number 2 */
  .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  /* number 3 */
  #main-nav {
    padding:0;
    width:100%;
  }
  /* number 4 */
  .full {
    padding-top: 176px;
  }
  /* number 5 */
  #song-seachbar{
  width: 100% !important;
  border:none;
  margin: 3px; 
    & .input-group {
     width: 100% !important;
    }
  }
}

/**************************************************************/

#logo {
  color: black;
}

.column {
  height:100% !important;
}

.row {
  height:100% !important;
  margin-left:0 !important;
  margin-right:0 !important;
}


#main-nav{
  width:inherit;
}

#sidebar {
  margin-top:100px;
}

/* 
 custom side bar for the application page 

*/












