@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
 color: black;
 letter-spacing: -1px;
 font-size:3.5em;
 margin:0;
 vertical-align: middle;
 padding: 5px;  
}

section {
  overflow: auto;
}

nav {
  padding-top: 20px;
  color:red;
}

.body-content {
    padding-top:80px;
}
