@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
 color: black;
 letter-spacing: -1px;
 font-size:3.5em;
 vertical-align: middle;
   
}

section {
  overflow: auto;
}

nav {
  
  color:red;
}

.body-content {
  padding-top:80px;
  overflow:hidden;
}
